In [69]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
import ipywidgets as widgets
import logging
import wrangling

logger = logging.getLogger(__name__)
FORMAT = "[%(filename)s:%(lineno)s - %(funcName)20s() ] %(message)s"
logging.basicConfig(format=FORMAT)
logger.setLevel(logging.DEBUG)

In [70]:
# 5.5s read time
#load the data
path = r"../data/raw/11100239.csv"
df = pd.read_csv(path, low_memory=False)
df.head(2)

,REF_DATE,GEO,DGUID,Age group,Sex,Income source,Statistics,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1976,Canada,2016A000011124,16 years and over,Both sexes,Total income,Number of persons,Number,223,thousands,3,v107660854,1.1.1.1.1,16797.0,NaN,NaN,NaN,0
1,1976,Canada,2016A000011124,16 years and over,Both sexes,Total income,Number with income,Number,223,thousands,3,v107660855,1.1.1.1.2,14167.0,NaN,NaN,NaN,0

In [3]:
cols_to_keep = ['REF_DATE', 
                'GEO', 
                'Sex', 
                'Age group', 
                'Income source',
                'Statistics',
                'SCALAR_FACTOR', 
                'VALUE', 
                 ]

In [39]:
selections = {'REF_DATE': np.array([1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986,
                1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997,
                1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008,
                2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018],
               dtype=int),
         'GEO': np.array(['Canada', 'Atlantic provinces', 'Newfoundland and Labrador',
                'Prince Edward Island', 'Nova Scotia', 'New Brunswick', 'Quebec',
                'Ontario', 'Prairie provinces', 'Manitoba', 'Saskatchewan',
                'Alberta', 'British Columbia', 'Québec, Quebec',
                'Montréal, Quebec', 'Ottawa-Gatineau, Ontario/Quebec',
                'Toronto, Ontario', 'Winnipeg, Manitoba', 'Calgary, Alberta',
                'Edmonton, Alberta', 'Vancouver, British Columbia'], dtype=object),
         'Sex': np.array(['Both sexes', 'Males', 'Females'], dtype=object),
         'Age group': np.array(['16 years and over', '16 to 24 years', '25 to 54 years',
                '25 to 34 years', '35 to 44 years', '45 to 54 years',
                '55 to 64 years', '65 years and over'], dtype=object),
         'Income source': np.array(['Total income', 'Market income', 'Employment income',
                'Wages, salaries and commissions', 'Self-employment income',
                'Investment income', 'Retirement income', 'Other income',
                'Government transfers',
                "Old Age Security (OAS) and Guaranteed Income Supplement (GIS), Spouse's Allowance (SPA)",
                'Canada Pension Plan (CPP) and Quebec Pension Plan (QPP) benefits',
                'Child benefits', 'Employment Insurance (EI) benefits',
                'Social assistance', 'Other government transfers'], dtype=object),
         'Statistics': np.array(['Average income (excluding zeros)',
                'Median income (excluding zeros)'], dtype=object)}

In [5]:
provinces = ['Atlantic provinces', 'Newfoundland and Labrador',
                'Prince Edward Island', 'Nova Scotia', 'New Brunswick', 'Quebec',
                'Ontario', 'Prairie provinces', 'Manitoba', 'Saskatchewan',
                'Alberta', 'British Columbia']
cities = ['Québec, Quebec',
                'Montréal, Quebec', 'Ottawa-Gatineau, Ontario/Quebec',
                'Toronto, Ontario', 'Winnipeg, Manitoba', 'Calgary, Alberta',
                'Edmonton, Alberta', 'Vancouver, British Columbia']

In [6]:
temp = wrangling.subset_plot_data_for_scatter_plot(df, 2017, '25 to 34 years', "Females", "Canada", ["Total income"], ['Median income (excluding zeros)'], cols_to_keep)

In [7]:
def subset_for_scatter_plot(df, year, income_source, income_to_plot, cols_to_keep):
    df = df.loc[:,cols_to_keep]
    df = df[df["Income source"]==income_source]
    df = df[df["Statistics"]==income_to_plot]
    return df

In [9]:
plot_data = subset_for_scatter_plot(df, 2017, "Total income", 'Median income (excluding zeros)', cols_to_keep)

In [10]:
import ipywidgets as widgets
from ipywidgets import HBox, VBox, Dropdown, Checkbox, IntSlider
import plotly.graph_objects as go
import plotly.express as px

In [58]:
sex_selector = widgets.SelectMultiple(
    options=selections.get("Sex"),
    value=['Females'],
    #rows=10,
    description='Sex',
    disabled=False
)

In [59]:
geo_selector = widgets.SelectMultiple(
    options=selections.get("GEO"),
    value = cities,
    description = "Location"
)

In [74]:
def create_scatter_plot(df, sex, age, locations)->go.FigureWidget:
    """
    Parameters
    ----------
    df : pd.DataFrame
    sex : tuple
    age : str
    locations : tuple

    """
    
    df = df[df["Age group"]==age]
    df = df[df.GEO.isin(cities)]
    df = df[df.Sex.isin(sex)]
    fig = px.line(df, x="REF_DATE", y="VALUE", color="GEO")
    fig.update_xaxes(range=[1975, 2020])
    fig.update_yaxes(range=[0, 90000])
    fig.update_layout(title=f"Median income for {sex} aged {age} in 2018 constant dollars")
    return go.FigureWidget(fig)

scatter_plot = create_scatter_plot(plot_data, "Both sexes", ('35 to 44 years'), cities)

TypeError: create_scatter_plot() missing 3 required positional arguments: 'sex', 'age', and 'locations'

styling scatter plot line style
sex_line_styles = {"Both sexes": "line", "Females": "dash", "Males": "dot"}
line=dict()

In [65]:
scatter_plot.data

(Scatter({
     'hoverlabel': {'namelength': 0},
     'hovertemplate': 'GEO=Québec, Quebec<br>REF_DATE=%{x}<br>VALUE=%{y}',
     'legendgroup': 'Québec, Quebec',
     'line': {'color': '#636efa', 'dash': 'solid'},
     'mode': 'lines',
     'name': 'Québec, Quebec',
     'showlegend': True,
     'uid': '05cd9877-30e1-4edb-9dc3-5ce3bb4ef5a3',
     'x': array([1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
                 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999,
                 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
                 2012, 2013, 2014, 2015, 2016, 2017, 2018], dtype=int64),
     'xaxis': 'x',
     'y': array([53800., 46500., 56400., 52100., 54100., 50300., 45900., 45900., 51200.,
                 52100., 45400., 49100., 46800., 45100., 43900., 47100., 43400., 44100.,
                 44400., 48100., 44500., 44400., 44700., 43200., 41500., 44600., 41300.,
                 40700., 48000., 43800., 43800., 43600., 49700., 47900., 48700., 57200.,
                 51300., 54100., 46900., 55200., 53000., 58800., 56700.]),
     'yaxis': 'y'
 }),
 Scatter({
     'hoverlabel': {'namelength': 0},
     'hovertemplate': 'GEO=Montréal, Quebec<br>REF_DATE=%{x}<br>VALUE=%{y}',
     'legendgroup': 'Montréal, Quebec',
     'line': {'color': '#EF553B', 'dash': 'solid'},
     'mode': 'lines',
     'name': 'Montréal, Quebec',
     'showlegend': True,
     'uid': 'a1dfd98a-dfa2-4c52-ab21-309acd9a7044',
     'x': array([1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
                 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999,
                 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
                 2012, 2013, 2014, 2015, 2016, 2017, 2018], dtype=int64),
     'xaxis': 'x',
     'y': array([47600., 49300., 52700., 49600., 40100., 49400., 47400., 43700., 49000.,
                 46200., 45500., 45300., 44000., 41500., 44000., 40600., 43500., 38700.,
                 40600., 39100., 38700., 39500., 40600., 40300., 42400., 43200., 43400.,
                 41700., 41700., 40000., 42900., 44900., 45500., 43900., 45500., 45500.,
                 42100., 47500., 49900., 44100., 48600., 42900., 47500.]),
     'yaxis': 'y'
 }),
 Scatter({
     'hoverlabel': {'namelength': 0},
     'hovertemplate': 'GEO=Ottawa-Gatineau, Ontario/Quebec<br>REF_DATE=%{x}<br>VALUE=%{y}',
     'legendgroup': 'Ottawa-Gatineau, Ontario/Quebec',
     'line': {'color': '#00cc96', 'dash': 'solid'},
     'mode': 'lines',
     'name': 'Ottawa-Gatineau, Ontario/Quebec',
     'showlegend': True,
     'uid': 'bc8577b9-5430-49f7-80ba-d42fc0f16dd9',
     'x': array([1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
                 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999,
                 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
                 2012, 2013, 2014, 2015, 2016, 2017, 2018], dtype=int64),
     'xaxis': 'x',
     'y': array([68600., 52400., 57600., 58900., 47700., 54800., 58500., 55300., 55000.,
                 53700., 53100., 53300., 63000., 60900., 54400., 51600., 52100., 54400.,
                 49500., 47500., 45400., 47100., 46400., 53100., 54700., 53200., 58100.,
                 51700., 53900., 53000., 53800., 60500., 62200., 70700., 66600., 67700.,
                 65600., 58900., 69700., 60800., 64200., 58500., 65000.]),
     'yaxis': 'y'
 }),
 Scatter({
     'hoverlabel': {'namelength': 0},
     'hovertemplate': 'GEO=Toronto, Ontario<br>REF_DATE=%{x}<br>VALUE=%{y}',
     'legendgroup': 'Toronto, Ontario',
     'line': {'color': '#ab63fa', 'dash': 'solid'},
     'mode': 'lines',
     'name': 'Toronto, Ontario',
     'showlegend': True,
     'uid': '68426f72-78f9-4ade-b282-f5b7453363ce',
     'x': array([1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
                 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999,
                 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
                 2012, 2013, 2014, 2015, 2016, 2017, 2018], dtype=int64),
     'xaxis': 'x',
     'y': array([49400., 52600., 52300., 49700., 51800., 52700., 47300., 47600., 48800.,
                 47600., 52400., 50200., 54500., 53500., 47700., 47700., 49600., 43400.,
                 48800., 46400., 46100., 42400., 45600., 48900., 49300., 49200., 46600.,
                 47600., 44700., 44000., 38800., 40100., 44400., 45300., 45800., 51300.,
                 45200., 43000., 47500., 49600., 44300., 48500., 47700.]),
     'yaxis': 'y'
 }),
 Scatter({
     'hoverlabel': {'namelength': 0},
     'hovertemplate': 'GEO=Winnipeg, Manitoba<br>REF_DATE=%{x}<br>VALUE=%{y}',
     'legendgroup': 'Winnipeg, Manitoba',
     'line': {'color': '#FFA15A', 'dash': 'solid'},
     'mode': 'lines',
     'name': 'Winnipeg, Manitoba',
     'showlegend': True,
     'uid': '9bbe68df-d651-495a-9af7-0734721ecd8f',
     'x': array([1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
                 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999,
                 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
                 2012, 2013, 2014, 2015, 2016, 2017, 2018], dtype=int64),
     'xaxis': 'x',
     'y': array([45400., 47100., 48400., 46500., 47900., 41800., 43400., 41300., 48700.,
                 44800., 47100., 43400., 45100., 43200., 45000., 36800., 42300., 39900.,
                 42400., 40100., 40800., 40400., 42800., 42600., 43500., 44200., 43800.,
                 44600., 44600., 42300., 44900., 43800., 48100., 48000., 44300., 46500.,
                 45100., 46900., 44300., 46500., 44600., 48500., 47900.]),
     'yaxis': 'y'
 }),
 Scatter({
     'hoverlabel': {'namelength': 0},
     'hovertemplate': 'GEO=Calgary, Alberta<br>REF_DATE=%{x}<br>VALUE=%{y}',
     'legendgroup': 'Calgary, Alberta',
     'line': {'color': '#19d3f3', 'dash': 'solid'},
     'mode': 'lines',
     'name': 'Calgary, Alberta',
     'showlegend': True,
     'uid': '65f5ae61-fd0c-4b4a-a53d-6db8acc0b7c4',
     'x': array([1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
                 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999,
                 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
                 2012, 2013, 2014, 2015, 2016, 2017, 2018], dtype=int64),
     'xaxis': 'x',
     'y': array([56700., 55100., 54500., 51000., 61300., 52200., 60700., 46000., 43200.,
                 56900., 52500., 51900., 51700., 53400., 47000., 46600., 42000., 43600.,
                 45500., 47000., 40800., 43500., 44600., 49300., 48900., 50900., 49500.,
                 50500., 49300., 46500., 51900., 55700., 49100., 49200., 50200., 54300.,
                 53400., 58100., 63000., 59700., 52600., 48700., 57600.]),
     'yaxis': 'y'
 }),
 Scatter({
     'hoverlabel': {'namelength': 0},
     'hovertemplate': 'GEO=Edmonton, Alberta<br>REF_DATE=%{x}<br>VALUE=%{y}',
     'legendgroup': 'Edmonton, Alberta',
     'line': {'color': '#FF6692', 'dash': 'solid'},
     'mode': 'lines',
     'name': 'Edmonton, Alberta',
     'showlegend': True,
     'uid': '6d8d68f5-a779-409e-bf07-0be76144be42',
     'x': array([1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
                 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999,
                 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
                 2012, 2013, 2014, 2015, 2016, 2017, 2018], dtype=int64),
     'xaxis': 'x',
     'y': array([65700., 52900., 55700., 56000., 57600., 55400., 51000., 43300., 44000.,
                 46600., 45900., 46800., 51700., 52300., 49600., 46300., 46900., 42300.,
                 45500., 40700., 42800., 45300., 44700., 46400., 46200., 47600., 41700.,
                 48500., 49800., 51100., 50600., 56000., 57600., 58200., 59500., 58900.,
                 61500., 67200., 59600., 62700., 56100., 52800., 61400.]),
     'yaxis': 'y'
 }),
 Scatter({
     'hoverlabel': {'namelength': 0},
     'hovertemplate': 'GEO=Vancouver, British Columbia<br>REF_DATE=%{x}<br>VALUE=%{y}',
     'legendgroup': 'Vancouver, British Columbia',
     'line': {'color': '#B6E880', 'dash': 'solid'},
     'mode': 'lines',
     'name': 'Vancouver, British Columbia',
     'showlegend': True,
     'uid': '0898670f-226e-4ae5-8509-cfda2bf7938c',
     'x': array([1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
                 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999,
                 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
                 2012, 2013, 2014, 2015, 2016, 2017, 2018], dtype=int64),
     'xaxis': 'x',
     'y': array([59200., 49400., 53000., 52400., 56800., 53900., 51000., 54400., 47000.,
                 51600., 51500., 46900., 46800., 51300., 47900., 44400., 45500., 46100.,
                 44500., 45700., 40600., 41900., 42100., 43800., 48200., 46900., 45400.,
                 45500., 40800., 40300., 40700., 45500., 43300., 39900., 40200., 45100.,
                 45000., 45300., 52000., 45100., 48900., 49600., 50600.]),
     'yaxis': 'y'
 }))

In [66]:
geo_selector.value

('Québec, Quebec',
 'Montréal, Quebec',
 'Ottawa-Gatineau, Ontario/Quebec',
 'Toronto, Ontario',
 'Winnipeg, Manitoba',
 'Calgary, Alberta',
 'Edmonton, Alberta',
 'Vancouver, British Columbia')

In [63]:
def update_scatter_plot(change):
    global scatter_plot
    age = age_dropdown.value
    geo = geo_selector.value
    sex = sex_selector.value
    
    scatter_plot = create_scatter_plot(df, sex, age, locations)

age_dropdown.observe(update_scatter_plot, 'value')
geo_selector.observe(update_scatter_plot, 'value')
sex_selector.observe(update_scatter_plot, 'value')

In [64]:
selections_box = VBox([age_dropdown, sex_selector, geo_selector])
HBox([selections_box, scatter_plot])

HBox(children=(VBox(children=(Dropdown(description='Age group', options=('16 years and over', '16 to 24 years'…

In [67]:
geo_selector.value

('Saskatchewan',)

In [ ]:
plot_data["Age group"].unique()

In [ ]:
plot_df = plot_data[plot_data.Sex=="Both sexes"]
plot_df.head(2)

In [ ]:
fig.data

In [ ]:
provinces =

In [ ]:
fig.data

In [ ]:
go.Figure(data=go.Scatter(x=df.REF_DATE, y=df.VALUE, mode='markers', marker_color=df.GEO, ))